@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sofia&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.form {
    background-color: #fff;
    height: 420px;
    width: 450px;
    border-radius: 20px;
    margin: 100px auto 20px auto;
    display: block;
    box-shadow: 0 0 2px;
}

.container {
    padding: 20px;
    
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.gender {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}
.gender input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    box-shadow: 0 0 1px;
    border-radius: 50%;
}

.gender:hover input ~ .checkmark {
    background-color: rgb(188, 210, 205);
}
.gender input:checked ~ .checkmark {
    background-color: #73c5aa;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.gender input:checked ~ .checkmark:after {
    display: block;
}
.gender .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.input-text{
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    border: solid 1px #ccc;
    padding: 5px 10px;
}

p {
    font-size: 14px;
    margin: 5px;
}

#submit {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: #73c5aa;
    color: #fff;
    margin-right: 30px;
}

.btn {
    margin: 10px 70px;
    padding-top: 20px;
}

#submit:hover {
    background-color: #97d0bc;
}

#btnReset {
    border: none;
    color: #5fac92;
    background-color: #fff;
    cursor: pointer;
}

#btnReset:hover {
    color: #2a6450;
}



